<?xml version="1.0" encoding="UTF-8"?>
<suite name="SA Automation">
	<test name="Firefox Result">
	<listeners>
	  <listener class-name="util.OnFailure" />
	  <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
	    <parameter name="browser" value="FIREFOX"/> 
  		<parameter name="baseURL" value="http://ecm.timesjobs.com/"/> 
  		<parameter name="TestCase" value="TestCases.xslx"/> 
  		<classes>      		
 	 			 	<class name="testcase.contactus_query"/> 
	      	    	<class name="testcase.Registeration"/> 
      		      	<class name="testcase.Improve_resume"/> 
      		     	<class name="testcase.Magic_Resume_India"/>
      	
      	</classes>
	</test>

</suite>
